[submodule "include/picojson"]
	path = include/picojson
	url = https://github.com/kazuho/picojson
[submodule "include/tinyformat"]
	path = include/tinyformat
	url = https://github.com/c42f/tinyformat
